
<header>
    {# Début de la navBar #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Spy Angency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {# Liste des actions possibles avec la table agent #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Agents
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des agents</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un agent</a></li>
                </ul>
                </li>

                {# Liste des actions possibles avec la table contact #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contacts
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des contacts</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un contact</a></li>
                </ul>
                </li>
                
                {# Liste des actions possibles avec la table cible #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cibles
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des cibles</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un cible</a></li>
                </ul>
                </li>

                {# Liste des actions possibles avec la table planque #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Planques
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des planques</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un planque</a></li>
                </ul>
                </li>

                {# Liste des actions possibles avec la table specialité #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Specialités
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des specialités</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un specialité</a></li>
                </ul>
                </li>

                {# Liste des actions possibles avec la table statu #}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Status
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Liste des status</a></li>
                    <li><a class="dropdown-item" href="#">Ajouter un status</a></li>
                </ul>
                </li>
                
            </ul>
            </div>
        </div>
    </nav>
    {# Fin de la navbar #}
</header>
